@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-black: #000500ff;
  --color-bistre: #362417ff;
  --color-cinereous: #92817aff;
  --color-almond: #f1dabfff;
  --color-snow: #fffbffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--cinereous);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.email-wrapper {
  contain: layout style;
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}
